@use '@var/colors';

.selfProduction {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap: 10px;
    padding: 12px 24px;
    border: 1px solid colors.$green;
    border-radius: 30px;
    background: colors.$greenLight;
    color: colors.$green;
}

@media (max-width: 992px) {
    .selfProduction {
        font-size: 12px;
    }
}
