@use '@var/colors';
.catalog {
    margin-top: 60px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-top: 60px;
    row-gap: 20px;
}
.column {
    padding: 0 10px;
    flex: 0 1 33.333%;
}
.item {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    .img {
        position: relative;
        &:before {
            position: absolute;
            content: '';
            background: rgba(0, 0, 0, 0.36);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
        }
        img {
            width: 380px;
            height: 320px;
            object-fit: cover;
            transition: all 0.6s ease;
        }
    }
    .icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 50%;
    }
    .bottom {
        position: absolute;
        bottom: 14px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 26px;
        column-gap: 9px;
        color: colors.$white;
        z-index: 2;
    }
}

.item:hover {
    .img img {
        transform: scale(1.1) rotate(2deg);
    }
}
