@use './variables/global.scss';
@use './variables/colors.scss';
@use './mixins/index';
@use 'reset';

html {
    scroll-behavior: smooth;
    //scroll-padding-top: 150px;
}

.app {
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    padding-top: 32px;
    background: colors.$pageBg;

    &._isLock {
        overflow: hidden;
        padding-right: 15px;

        @media (max-width: 992px) {
            padding-right: 0;
        }
    }
}

%container {
    @include index.responsive-property('paddingLeft', 16, 140, 1440, 1920);
    @include index.responsive-property('paddingRight', 16, 140, 1440, 1920);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 20px;

    main {
        flex: 0 1 1225px;
        max-width: 100%;
    }

    #sidebarWrapper {
        @include index.responsive-width(350, 395, 1440, 1920);
    }
    #sidebar {
        position: sticky;
        top: 32px;

        @media (max-width: 992px) {
            text-align: center;
        }
    }
}

._container-large {
    @extend %container;
    max-width: global.$maxWidthContainerLarge;
    min-height: 400px;
}
._container-default {
    @extend %container;
    max-width: global.$maxWidthContainer;
    min-height: 400px;
}
._title {
    color: colors.$black;
    text-align: center;
    @include index.responsive-font(34, 64, 320, 1800);
}

.swiper-pagination-bullet {
    transition: all 1.2s ease 0s;
    width: 6px !important;
    height: 6px !important;
}
.swiper-pagination-bullet-active {
    background: #047857 !important;
    width: 44px !important;
    border-radius: 16px !important;
}
.swiper-button-disabled {
    opacity: 0.6 !important;
    cursor: default !important;
    pointer-events: none !important;
}

.ymaps-2-1-79-controls-pane {
    position: static !important;
}
.ymaps-2-1-79-map {
    width: 100% !important;
}

.note {
    margin-top: 16px;
    font-size: 24px;
    color: #017420;
    font-weight: 600;
    text-align: center;

    @media (max-width: 992px) {
        display: none;
    }
}
