.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 100px;
    z-index: 4;

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
}
.body {
}
.slide {
    width: 590px;
    height: 635px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 160px;
        background: -webkit-linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.53),
            rgba(255, 255, 255, 0)
        );
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.53),
            rgba(255, 255, 255, 0)
        );
        z-index: 5;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;

        //box-shadow: 0px 8px 12px 0 #000000;
    }
}
.content {
    max-width: 590px;
    position: relative;
}

.arrows {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translate(0, -50%);
    padding: 0 6px;
    pointer-events: none;
}
.arrow {
    width: 48px;
    height: 48px;
    border: 1px solid #d1d5db;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    pointer-events: all;
    &:hover {
        background: rgba(255, 255, 255, 0.65);
    }
}
.arrow.arrowPrev {
    transform: rotate(180deg);
}
.pagination {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    column-gap: 15px;
}
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

@media (max-width: 768px) {
    .content {
        max-width: 420px;
        position: relative;
    }
    .slide {
        width: 420px;
        height: 475px;
    }
}

@media (max-width: 450px) {
    .content {
        width: 90vw;
        max-width: 100%;
        position: relative;
    }
    .slide {
        width: 90vw;
        height: 80vh;
    }
}
