@use '@var/colors';
@use '@mixins/index';

.header {
    margin-bottom: 32px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: colors.$pageBg;
    padding: 16px;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 9px;
}
.phone {
    color: colors.$blackTelText;
    @include index.responsive-font(12, 16, 320, 425);
}
.socials {
    display: flex;
    column-gap: 9px;
}
.item {
    @include index.responsive-height(29, 32, 320, 768);
    @include index.responsive-width(29, 32, 320, 768);

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item.tel {
    background: colors.$green;

    img {
        @include index.responsive-height(13, 15, 320, 768);
        @include index.responsive-width(13, 15, 320, 768);
    }
}
.item.tg {
    background: colors.$blueTg;
    img {
        @include index.responsive-width(14, 17, 320, 768);
        @include index.responsive-height(11, 13, 320, 768);
        transform: translate(-2px, 0);
    }
}
