$black: rgb(42, 42, 42);
$blackTelText: #292929;
$white: #ffffff;

$pageBg: #e0ded2;

$grey: #8b919d;
$greyLight: #f0f0f0;
$greyHover: #dee2ea;
$greyText: #8b919d;
$greyBorder: #d1d5db;
$greyFooter: #939aa6;

$darkBlue: #374a6d;

$green: #017420;
$greenLight: #ecfdf5;
$greenTitleBold: #047857;
$greenLightHover: #d0f0d9;

$blue: #0088cc;
$blueLight: #dceef6;

$blueTg: #0088cc;
$blueTgHover: #dceef6;

$blueVk: #0077ff;
$blueVkHover: #e6eef6;

$blackBgFooter: #111827;
