@use '@var/colors';

.works {
    margin-top: 60px;
}
.subtitle {
    font-size: 18px;
    color: colors.$darkBlue;
    text-align: center;
    margin-top: 22px;
}
.tabs {
    margin-top: 32px;
    column-gap: 6px;
    display: flex;
    justify-content: center;
}
.tab {
    background: colors.$greenLight;
    color: colors.$greenTitleBold;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease 0s;
    border-radius: 30px;
    padding: 16px;
    cursor: pointer;

    &:hover {
        color: colors.$white;
        background: colors.$greenTitleBold;
    }

    &._active {
        color: colors.$white;
        background: colors.$greenTitleBold;
    }
}

.row {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.column {
    .img {
        border-radius: 15px;
        overflow: hidden;
        img {
            width: 232px;
            height: 250px;
            object-fit: cover;
        }
    }
}
