@use '@var/colors';
@use '@mixins/index';

.works {
    margin-top: 60px;
}
.subtitle {
    font-size: 18px;
    color: colors.$darkBlue;
    text-align: center;
    margin-top: 22px;
}
.tabs {
    margin-top: 32px;
    column-gap: 6px;
    display: flex;
    justify-content: center;
}
.tab {
    background: colors.$greenLight;
    color: colors.$greenTitleBold;
    font-size: 18px;
    @include index.responsive-font(12, 18, 992, 1170);
    font-weight: 500;
    transition: all 0.5s ease 0s;
    border-radius: 30px;
    padding: 16px;
    @include index.responsive-property('paddingLeft', 10, 16, 992, 1170);
    @include index.responsive-property('paddingRight', 10, 16, 992, 1170);
    cursor: pointer;
    position: relative;
    &:hover {
        color: colors.$white;
        background: colors.$greenTitleBold;
    }

    &._active {
        color: colors.$white;
        background: colors.$greenTitleBold;
    }
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 16px;
    margin-top: 32px;
}

.item {
    width: 100%;
    cursor: pointer;
    .img {
        border-radius: 15px;
        overflow: hidden;
        width: 100%;

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
}
