@use '@var/colors';
@use '@mixins/index';

.footer {
    text-align: center;
    padding: 60px 0;
    background: colors.$blackBgFooter;
}

.row {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    column-gap: 16px;
}
.item {
    padding: 3px 19px;
}
.text {
    margin-top: 6px;
    color: colors.$greyFooter;
    font-weight: 500;
    font-size: 16px;
}
.bottomText {
    margin-top: 60px;
    color: colors.$greyFooter;
    font-size: 18px;
}

@media (max-width: 768px) {
    .footer {
        margin-left: -16px;
        margin-right: -16px;
    }
    .logo {
        img {
            @include index.responsive-width(250, 335, 320, 768);
        }
    }
    .row {
        flex-direction: column;
        row-gap: 16px;
    }
}
