@use '@var/colors';
@use '@mixins/index';

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    flex-wrap: wrap;
}
.regular {
    color: colors.$darkBlue;
    text-transform: capitalize;
    font-size: 48px;
    @include index.responsive-font(36, 46, 320, 768);
}
.bold {
    color: colors.$greenTitleBold;
    font-weight: 500;
    @include index.responsive-font(38, 48, 320, 768);
}
