@use '@var/colors';
@use '@mixins/index';

.contacts {
    margin-top: 60px;
}
.img {
    flex: 0 0 48px;
    height: 48px;
    border-radius: 50%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item {
    padding: 23px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    transition: all 0.6s ease 0s;
}
.title {
    color: colors.$grey;
    @include index.responsive-font(18, 22, 992, 1920);
}
.label {
    color: colors.$darkBlue;
    @include index.responsive-font(20, 24, 992, 1920);
}
.subtitle {
    color: colors.$greyText;
    @include index.responsive-font(12, 14, 992, 1920);
}
.subtext {
    @include index.responsive-font(20, 24, 992, 1920);
    color: colors.$darkBlue;
}

.item.tel {
    &:hover {
        background: colors.$greenLightHover;
    }
    .img {
        background: colors.$green;
    }
}
.item.mail {
    &:hover {
        background: colors.$blueLight;
    }
    .img {
        background: colors.$blue;
    }
}
.item.vk {
    &:hover {
        background: colors.$blueVkHover;
    }
    .img {
        background: colors.$blueVk;
    }
}
.item.tg {
    &:hover {
        background: colors.$blueTgHover;
    }
    .img {
        background: colors.$blueTg;
    }
}

.item.clock {
    .img {
        background: colors.$greyLight;
    }
}
.item.point {
    &:hover {
        background: colors.$greyHover;
    }
    .img {
        background: colors.$greyLight;
    }
}

.row {
    & > *:last-child {
        display: none;
    }
}

@media (max-width: 992px) {
    .contacts {
        margin-top: 16px;
    }
    .body {
        display: none;
    }
    .item {
        justify-content: center;
        padding: 7px;
    }
}

//@media (max-width: 768px) {
//    .label {
//        @include index.responsive-font(16, 24, 320, 768);
//    }
//
//    .subtext {
//        @include index.responsive-font(16, 24, 320, 768);
//    }
//}
