@use '@var/colors';

.contacts {
    margin-top: 60px;
}
.img {
    flex: 0 0 48px;
    height: 48px;
    border-radius: 50%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item {
    padding: 23px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    transition: all 0.6s ease 0s;
}
.title {
    color: colors.$grey;
    font-size: 22px;
}
.label {
    color: colors.$darkBlue;
    font-size: 24px;
}
.subtitle {
    font-size: 14px;
    color: colors.$greyText;
}
.subtext {
    font-size: 24px;
    color: colors.$darkBlue;
}

.item.tel {
    &:hover {
        background: colors.$greenLightHover;
    }
    .img {
        background: colors.$green;
    }
}
.item.mail {
    &:hover {
        background: colors.$blueLight;
    }
    .img {
        background: colors.$blue;
    }
}
.item.vk {
    &:hover {
        background: colors.$blueVkHover;
    }
    .img {
        background: colors.$blueVk;
    }
}
.item.tg {
    &:hover {
        background: colors.$blueTgHover;
    }
    .img {
        background: colors.$blueTg;
    }
}

.item.clock {
    .img {
        background: colors.$greyLight;
    }
}
.item.point {
    &:hover {
        background: colors.$greyHover;
    }
    .img {
        background: colors.$greyLight;
    }
}

.row {
    & > *:last-child {
        display: none;
    }
}
